<h2>Revolutionising collaborative donations</h2>
<p> Bridging the gap between donors, ambassadors and beneficiers</p>

<p>We want to be the innovative hub of collaborative donation-platforms to connect, engage and empower donors and receiving organisations (ambassadors), ranging from United Nations to individual donors, with the network and knowledge of what is needed at any given time, to help refugees in healthcare, education, integration, child protection and women empowerment. We want to to provide sustainable and responsible solutions and a better future.</p>
<p>To achieve this mission, Codonation envisions to work together with responsible, reliable and precious partners and networks.</p> 


<!--
<h2>How did it start?</h2>
<p>In January 2014, and during the heavy snowstorm in Jordan, affecting mostly the Syrian refugees in their falling tents in Zaatari refugeee camp, some children froze to death. Without planning and out of compassion and sense of responsiboility, we reached out to our networks and asked them if they wish to donate money to buy blankets in Jordan for the children to keep them warm. A few put me down. A few critisized and made fun out of this idea. But many were caring and supportive. The response was overwhleming generous and we managed to buy and deliver hundreds of blankets to the children in that refugee camp, as gifts of care, gifts for better lives. 
We learned that raising money can be a sensitive and complex topic, and we came up with the idea of giving away and sharing what we have. </p>

<h2>Why are we building this?</h2>
<p>Because we have hope and perseverance to change lives, we have done it and we will continue. We are grateful of what we have and we want to share. 
This humanitarian crisis could have happened to anyone, by war, by natural disaster or by nuclear station radiation. As a matter of fact, all those reason happened in Europe and the influx of refugees searching for safety and shelter were in millions. There were heroes and inspiring people who saved and changed lives, but there were others who feared the change, feared the others, feared the unknown. </p>
<p>Enough is enough. Indifference in such crisis is as being silent killers. Let's unite in our humble capacity to change and inspire lives.</p>

<h2>"UNHCR (Geneva, 12 March 2015): Refugees endure worsening conditions in the Syrian conflict’s 5th year.</h2>
<p>In the Syrian conflict’s fifth year, millions of refugees are caught in alarmingly deteriorating conditions, facing an even bleaker future.
With no solution to the conflict in sight, most of the 4 million Syrian refugees in Turkey, Lebanon, Jordan, Iraq and Egypt see no prospect of returning home in the near future, and have little opportunity to restart their lives in exile.
Inside Syria, the situation is also deteriorating rapidly. Millions of children are suffering from trauma and ill health. A quarter of Syria’s schools have been damaged, destroyed or taken over for shelter. More than half of Syria’s hospitals are destroyed." </p>
-->

<h2>How can you help?</h2>
<p>Codonation is focusing on the Syrian refugee crisis. Through our platform we are connecting a spectrum of donors and verified organisations to deliver items from bandages, blankets, first aid kits and toys to refugees in need.</p>


<div class="centered-button">
<a href="#/login" class="btn btn-primary">Get Involved</a>
</div>

