<h2>Mission</h2>
<p>We want to be the hub of platforms to help refugees in healthcare, education, integration, child protection and women empowerment. We want to to provide sustainable and respinsible solutions and a better future.</p>
<p>To achieve this mission, CoDonation envisions to work together with responsible and precious partners and networks.</p> 

<h2>How that started?</h2>
<p>In January 2014, and during the heavy snowstorm in Jordan, affecting mostly the Syrian refugees in their falling tents in Zaatari refugeee camp, some children freezed to death. Without planning and out of compassion and sense of responsiboility, We appraoched ny contacts and asked them if they wish to donate money to buy blankets in Jordan for the children to keep them warm. Few put me down. Few critisized and made fun out of this idea. But many were caring and supportive. The response was overwhleming generous and we managed to buy and deliver hundreds of blankets to the children in that refugee camp. A gift of care, a humble gift for better life. 
We learned that raising money can be sensitive and complex topic, and we came up with the idea of giving away and sharing what we have by providing a platform to connect both donors (organisations and individuals) and requesters (organisations that work directly with refugees and have the knowledge of what is needed at any given time). </p>


<h2>Why are we building this?</h2>
<p>Because we have hope and perseverance to change lives, we have done it and we will continue to do. We are grateful of what we have and we want to share. 
This humanitarian crisis could have happened to anyone, by war, by natural disaster or by nuclear station radiation. As a matter of fact, all those reason happened in Europe and the influx of refugees searching for safety and shelter were in millions. There were heroes and inspiring people who saved and changed lives, but there were others who feared the change, feared the others, feared the unknown. Enough is enough. Indifference in such crisis is as being silent killers. Let's unite in our humble capacity to change and inspire lives.</p>

<h2>"UNHCR (Geneva, 12 March 2015): Refugees endure worsening conditions in the Syrian conflict’s 5th year.</h2>
<p>In the Syrian conflict’s fifth year, millions of refugees are caught in alarmingly deteriorating conditions, facing an even bleaker future.
With no solution to the conflict in sight, most of the 4 million Syrian refugees in Turkey, Lebanon, Jordan, Iraq and Egypt see no prospect of returning home in the near future, and have little opportunity to restart their lives in exile.
Inside Syria, the situation is also deteriorating rapidly. Millions of children are suffering from trauma and ill health. A quarter of Syria’s schools have been damaged, destroyed or taken over for shelter. More than half of Syria’s hospitals are destroyed." </p>

<h2></h2>

<head>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>

<div class="style1">
<a href="#/login" class="btn btn-primary">Get Involved</a>

</div>

