<h1>View your offers</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>City of Item</th>
            <th>Country of Item</th>
            <th></th>
        </tr>
    </thead>

	<tbody>
	  <tr ng-repeat="offer in vm.offers">
	    <td>{{ offer.type }}</td>
	    <td>{{ offer.amount }}</td>
	    <td>{{ offer.city }}</td>
	    <td>{{ offer.country }}</td>
	    <td><div class="btn btn-info" ng-click="vm.deleteOffer(offer.id)">Delete</div></td>
	  </tr>
	</tbody>
</table
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>