<div class="container">
	<h2>Revolutionising collaborative donations</h2>
	<p> Bridging the gap between donors, ambassadors and beneficiers</p>

	<p>We want to be the innovative hub of collaborative donation-platforms to connect, en&shy;gage and em&shy;power donors and re&shy;ceiving organisations (ambassadors), ranging from United Nations to individual donors, with the network and know&shy;ledge of what is needed at any given time, to help refugees in health&shy;care, edu&shy;cation, integration, child protection and women em&shy;power&shy;ment. We want to to provide sustainable and responsible solutions and a better future.</p>
	<p>To achieve this mission, Codonation envisions to work together with responsible, reliable and precious partners and networks.</p> 
<div class="container">

<div class="p20p20">
<div class="container">
	<div class="row row-fluid">
				<h2 style="text-align:center">How it Works</h2>
		<h2 style="text-align:center">Donors</h2>
		<div class="col-sm-4">
        <div class="wpb_wrapper">
            <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_center text-center">
                    <h3 class="oi_icon_titile text_000 font_normal">Step 1</h3>
                    <div class="oi_heading_border oi_border_position_center text-center">
                        <span style="text-align:center; width:100px; border-top:1px solid #dd3333;"></span>
                    </div>
                    <p class="oi_icon_sub_titile text_666 font_italic">
                        <b>Register Donations</b>
                    </p>
                </div>
            </div>
            <p class="text-center">
                
Register your donations; items, amount and location. Don’t worry, only veri&shy;fied or&shy;gani&shy;sations (am&shy;bassa&shy;dors) can view, request and collect your donated items. Give the best de&shy;scription so others will know about your donations.

            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="wpb_wrapper">
            <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_center text-center">
                    <h3 class="oi_icon_titile text_000 font_normal">Step 2</h3>
                    <div class="oi_heading_border oi_border_position_center text-center">
                        <span style="text-align:center; width:100px; border-top:1px solid #dd3333;"></span>
                    </div>
                    <p class="oi_icon_sub_titile text_666 font_italic">
                        <b>Collaborate </b>
                    </p>
                </div>
            </div>
            <p class="text-center">
              
Reach out to donors and ambassa&shy;dors. No one knows the subject better than you, so empower this plat&shy;form to excel and help the ones in need. Pave them the ways, and un&shy;leash the powers of col&shy;laborative platforms. 
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="wpb_wrapper">
            <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_center text-center">
                    <h3 class="oi_icon_titile text_000 font_normal">Step 3</h3>
                    <div class="oi_heading_border oi_border_position_center text-center">
                        <span style="text-align:center; width:100px; border-top:1px solid #dd3333;"></span>
                    </div>
                    <p class="oi_icon_sub_titile text_666 font_italic">
                        <b>Get Ratings</b>
                    </p>
                </div>
            </div>
            <p class="text-center">
Don’t forget to get your am&shy;bassadors to rate you! Higher rated donors will ap&shy;pear first on the do&shy;nations' list. You know what they say: The best place to hide a dead body is on page two.
            </p>
        </div>
    </div>


	</div>
</div>
</div>

<!-- DIFFERENT SECTION -->
<div class="p20p20">
<div class="container">
	<div class="row row-fluid">
		<h2 style="text-align:center"s>Ambassadors</h2>
		<div class="col-sm-4">
        <div class="wpb_wrapper">
            <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_center text-center">
                    <h3 class="oi_icon_titile text_000 font_normal">Step 1</h3>
                    <div class="oi_heading_border oi_border_position_center text-center">
                        <span style="text-align:center; width:100px; border-top:1px solid #dd3333;"></span>
                    </div>
                    <p class="oi_icon_sub_titile text_666 font_italic">
                        <b>Get verified </b>
                    </p>
                </div>
            </div>
            <p class="text-center">
                
Apply to become an Ambassa&shy;dor organisation to deliver the donated items from our donors' platform directly to refugees in need.

            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="wpb_wrapper">
            <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_center text-center">
                    <h3 class="oi_icon_titile text_000 font_normal">Step 2</h3>
                    <div class="oi_heading_border oi_border_position_center text-center">
                        <span style="text-align:center; width:100px; border-top:1px solid #dd3333;"></span>
                    </div>
                    <p class="oi_icon_sub_titile text_666 font_italic">
                        <b>Connect</b>
                    </p>
                </div>
            </div>
            <p class="text-center">
              
Connect with the selected do&shy;nors and request the available donations. You can enrol in multiple requests, but don’t bite more than you can chew! Collect & Deliver
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="wpb_wrapper">
            <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_center text-center">
                    <h3 class="oi_icon_titile text_000 font_normal">Step 3</h3>
                    <div class="oi_heading_border oi_border_position_center text-center">
                        <span style="text-align:center; width:100px; border-top:1px solid #dd3333;"></span>
                    </div>
                    <p class="oi_icon_sub_titile text_666 font_italic">
                        <b>Do</b>
                    </p>
                </div>
            </div>
            <p class="text-center">
Do what you must to be the best: collect & deliver to ones in need on time. Make the gifts for better lives.	
            </p>
        </div>
    </div>


		</div>
	</div>
</div>

<!--
<h2>How did it start?</h2>
<p>In January 2014, and during the heavy snowstorm in Jordan, affecting mostly the Syrian refugees in their falling tents in Zaatari refugeee camp, some children froze to death. Without planning and out of compassion and sense of responsiboility, we reached out to our networks and asked them if they wish to donate money to buy blankets in Jordan for the children to keep them warm. A few put me down. A few critisized and made fun out of this idea. But many were caring and supportive. The response was overwhleming generous and we managed to buy and deliver hundreds of blankets to the children in that refugee camp, as gifts of care, gifts for better lives. 
We learned that raising money can be a sensitive and complex topic, and we came up with the idea of giving away and sharing what we have. </p>

<h2>Why are we building this?</h2>
<p>Because we have hope and perseverance to change lives, we have done it and we will continue. We are grateful of what we have and we want to share. 
This humanitarian crisis could have happened to anyone, by war, by natural disaster or by nuclear station radiation. As a matter of fact, all those reason happened in Europe and the influx of refugees searching for safety and shelter were in millions. There were heroes and inspiring people who saved and changed lives, but there were others who feared the change, feared the others, feared the unknown. </p>
<p>Enough is enough. Indifference in such crisis is as being silent killers. Let's unite in our humble capacity to change and inspire lives.</p>

<h2>"UNHCR (Geneva, 12 March 2015): Refugees endure worsening conditions in the Syrian conflict’s 5th year.</h2>
<p>In the Syrian conflict’s fifth year, millions of refugees are caught in alarmingly deteriorating conditions, facing an even bleaker future.
With no solution to the conflict in sight, most of the 4 million Syrian refugees in Turkey, Lebanon, Jordan, Iraq and Egypt see no prospect of returning home in the near future, and have little opportunity to restart their lives in exile.
Inside Syria, the situation is also deteriorating rapidly. Millions of children are suffering from trauma and ill health. A quarter of Syria’s schools have been damaged, destroyed or taken over for shelter. More than half of Syria’s hospitals are destroyed." </p>
-->

<h2>How can you help?</h2>
<p>Codonation is focusing on the Syrian refugee crisis. Through our platform we are connecting a spectrum of donors and verified organisations to deliver items from bandages, blankets, first aid kits and toys to refugees in need.</p>


<div class="centered-button">
<a href="#/login" class="btn btn-primary">Get Involved</a>
</div>

