html {
	overflow-y: scroll;
}
body {
	background-image: url('/assets/img/bg.png');
	background-repeat: no-repeat;
	background-size: 100% 418px;
	background-position: center top;
}
.jumbotron {
	background: transparent;
}
.jumbotron h1 a {
	text-decoration: none;
}
.jumbotron h1 {
	text-align: center;
	font-size: 2em;
}
.jumbotron h1 a img {
	max-width: 100%;
}
.jumbotron h2.in-app {
	text-align: center;
	font-size: 1.8em;
	margin-top: 2em;
	margin-bottom: 1em;
	float: left;
	display: block;
	width: 100%;
}
.jumbotron h2:first-of-type.in-app {
	margin-top: 0.5em;
}

.centered-button {
	margin-top: 2em;
	text-align: center;
}
.floating {
	float: left;
	width: 100%;
	display: block;
}

.jumbotron h2 {
	margin-top: 1em;
	font-size: 1.4em;
}
.jumbotron p {
	font-size: 1.2em;
}

tr.blocked {
	background-color: #F0F0F0;
}